# ESP8266 Switch Home Firmware - Default Configuration

# MQTT Broker
CONFIG_MQTT_BROKER_URL="mqtt://47.121.26.212:1883"

# Log level (INFO)
CONFIG_LOG_DEFAULT_LEVEL=3
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_MAXIMUM_LEVEL=3
CONFIG_LOG_MAXIMUM_LEVEL_INFO=y

# Device type: Switch/Relay
CONFIG_DEVICE_TYPE_SWITCH=y
CONFIG_SWITCH_COUNT=1
CONFIG_SWITCH_1_GPIO=4
CONFIG_SWITCH_1_ACTIVE_HIGH=y

CONFIG_COMPILER_CXX_ENABLED=n
CONFIG_COMPILER_CXX_EXCEPTIONS=n
CONFIG_PTHREAD_TASK_COND_ENABLE=y
CONFIG_NEWLIB_ENABLE_PTHREAD_COND=y
